
.cms-home .page-title-wrapper {
    display: none;
}

.catalog-product-view .tabContentWrap {
    padding: 10px;
}

@media only screen and (max-width: 1180px) {
    .col-1150 {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 1181px) {
    .col-1150 {
        width: 1150px;
        margin: 0 auto;
        padding: 0;
        padding-top: 30px;
    }
}

/* css lam */

#copyright-cus {
    background-color: #232323;
    color: #a5a5a5;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    display: block;
}

/*  Footer */
#footer-default {
    background-color: #232323;
    color: #a5a5a5;
}

.nav-footer .button-newl {
    font-size: 11.21px;
    color: #ffffff;
    font-family: "Georgia", Times New Roman, Times, Serif;
    font-weight: normal;
    font-style: normal;
    border: none;
}

#footer-default .copyright {
    background-color: white;
    color: #a5a5a5;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.subscribe .nav-footer .action.button-newl {
    background: #fd8569;
}

.dropdown-content li {
    list-style: none;
    text-align: center;
}

.footer li {
    list-style: none;
    /* padding: 0 10px 0 0; */
}

.footer li a {
    list-style: none;
    font-family: "helvetica";
    font-size: 13px;
    color: #a5a5a5;
    font-weight: normal;
}

.customer-care .item a {
    font-family: "helvetica";
    font-size: 13px;
    color: #a5a5a5;
    font-weight: normal;
}

.links a {
    color: #a5a5a5;
}

.customer-care > a {
    color: #a5a5a5;
    font-size: 16px;
    font-weight: bold;
    font-family: "Georgia", Times New Roman, Times, Serif;
}

.customer-care > ul {
    padding-top: 7px;

}

.subscribe .nav-footer {
    padding-top: 7px;
}

.customer-care ul {
    padding: 25px 0 0 0;
}

.footer .item .newsletter {
    width: 100%;
}

.nav-footer {
    padding-top: 10px;
}

#copyright-ft {
    background: none;
    color: #fd8569;
    border-top: 2px dotted #ccc;
    font-size: 12px;
    font-family: "Georgia", Times New Roman, Times, Serif;
}

#copyright-ft span {
    font-family: "Georgia", Times New Roman, Times, Serif;
}

.icon-face {
    float: right;
}

.icon-inst {
    float: right;
}

.title-socia {
    float: left;
    padding-right: 5px;
    max-width: 80%;
}

.customer-care {
    padding-top: 20px;
}

#socia-list .icon-twit {
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .customer-care {
        text-align: center;
        border-bottom: 1px dotted #A5A4A4;
        padding: 9px 0 9px 0;
        background: #232323;
    }

    #copyright-ft {
        border-top: none;
        background-color: #e6e5e4;
    }

    /* .customer-care > a {
        color: #272727;
        font-size: 13px;
    } */
    /* .customer-care .item a {
        font-family: "helvetica";
        font-size: 13px;

    } */
    .customer-care ul {
        border-top: 1px dotted #ccc;
        background: #232323;
        display: block;
        padding-top: 5px;
        margin-bottom: 0;
    }

    .icon-face {
        float: left;
        background: #dad9d8;
        margin-bottom: 0;
        padding: 12px 0;
    }

    .icon-inst {
        float: right;
        background: #dad9d8;
        margin-bottom: 0;
        padding: 12px 0;
    }

    .icon-twit {
        background: #dad9d8;
        margin-bottom: 0;
        padding: 12px 0;
    }

    .title-socia-hiden {
        display: none;

    }

    .title-socia {
        float: none;
    }

    .facebook-mb {
        float: right;
    }

    .instagram-mb {
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    .hidden-dt {
        display: none;
    }
}

/* Home Slider */
.cms-home #authenticationPopup + p {
    display: none;
}
#bannerHS .item:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.btHomeSlider {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    z-index: 30;
}

.prevButtonWrap {
    left: 0;
}

.nextButtonWrap {
    right: 0;
}

.btHomeSlider > span {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.3);
}

.btHomeSlider > span:after {
    content: '';
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    position: relative;
    top: 14px;
}

.prevButtonWrap > span:after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 18px;
}

.nextButtonWrap > span:after {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 12px;
}

.innerHS {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    z-index: 9;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.innerHS .titHS {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    line-height: normal;
}

.innerHS .sumHS {
    font-size: 16px;
    margin: 0;
    padding: 20px 0 40px;
}

a.clickHereHS {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 140px;
    background: #f05624;
    padding: 12px 0;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .innerHS .titHS {
        font-size: 24px;
    }
}

/* # Home Slider */

/*  haeder */
.page-wrapper .nav-sections {
    display: none;
}

.minicart-wrapper .showcart .text {
    position: relative !important;
}

@media (min-width: 768px) {
    .logo {
        margin: -8px auto 10px 0;
    }
    .page-header .header.panel {
        max-width: 1180px;
        font-size: 12px;
        padding: 20px 0 0;
    }

    .header.panel > .header.links > li{
        margin: 0 0 0 2px;
    }

    .page-header .header.content, .page-header .header.content .navigation {
        max-width: 100%;
        padding: 0;
        background: #ff9e23;

    }

    .navigation .level0 > .level-top {
        color: #fff;
    }

    .minicart-wrapper .action.showcart:before {
        content: '';
    }


    #menu-search-container {
        width: 1180px;
        margin: 0 auto;
    }
    #menu-search-container .navigation {
        float: left;
        width: auto;
    }
    #topSearchWrap {
        cursor: pointer;
        width: auto;
        margin: 0;
        padding: 0;
        z-index: 60;
        position: relative;
        float: right;
    }
}

/* End  haeder */

/* Search */
#topSearchWrap {
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 60;
    position: relative;
}

#clickTopSearchIcon {
    width: 40px;
    height: 40px;
    background: url('/pub/media/images/icon-search.png') no-repeat 100% 50%;
}

#topSearchWrap > .block-content {
    position: absolute;
    display: none;
    top: 40px;
    right: 0;
}

#topSearchWrap .control {
    border: none;
    clear: both;
    margin: 0;
    padding: 0;
}

#search {
    width: 260px;
    left: auto;
    right: 0;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1025px) {
    #topSearchWrap:hover > .block-content {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .minicart-wrapper .block-minicart {
        width: 300px;
        right: -50px;
    }
}

/* End Search */
/* Top Menu */
#topMenuNav {
    display: block;
    position: relative;
}

#topMenuNav > ul {
    padding: 0;
    margin: 0;
}

#topMenuNav > ul > li {
    display: inline-block;
}

#topMenuNav > ul > li > a {
    color: #555;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

#topMenuNav > ul > li:hover > a {
    color: #000;
}

#topMegaMenu {
    display: none;
    position: absolute;
    z-index: 9;
    background: #fff;
    width: 100%;
    margin: 0;
    top: 50px;
    left: 0;
    padding: 0 10px 20px;
    border: 1px solid #eee;
}

#topMegaMenu ul {
    margin: 0;
    padding: 0;
}

#topMegaMenu > li {
    position: relative;
    width: 20%;
    float: left;
    padding: 10px;
    border: none;
}

#topMegaMenu > li:nth-child(5n+1) {
    clear: both;
}

#topMegaMenu > li > a {
    color: #f05624;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    display: block;
}

#topMegaMenu > li li {
    position: relative;
    border-top: 2px dotted #bbb;
    padding: 10px 0 10px 20px;
    margin: 0;
    color: #bbb;
}

#topMegaMenu > li li:first-child {
    border-top: 2px dotted #bbb;
}

#topMegaMenu > li li:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #999;
    border-radius: 50%;
}

#topMegaMenu > li li:hover:before {
    border-color: #f05624;
}

#topMegaMenu > li li > a {
    display: block;
    color: #5d5d5d;
    padding: 0;
    width: 100%;
}

#topMegaMenu > li li:hover > a {
    color: #f05624;
}

@media only screen and (min-width: 768px) {
    #topMenuNav > ul > li:hover > ul {
        display: block;
    }
    #menu-search-container .navigation ul{
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .page-header .navigation {
        display: none;
    }

    #topSearchWrap {
        clear: both;
        float: right;
    }

    .page-wrapper .nav-sections {
        display: block;
    }
}

/* # Top Menu */

/* content homepage */
@media (min-width: 1200px){
    #maincontent .container{
        width: 1180px;
    }
}
#sologan, #pr-product {
    text-align: center;
    color: #c4c4c4;
    padding: 20px 0;
}

#sologan .text-first {
    font-size: 20px;
}

#sologan .text-first span {
    color: #5c9d29;
    font-weight: bold;
}

#pr-product .text-first {
    font-size: 20px;
    color: #000;
}

#pr-product .text-first strong {
    color: #000;
}

/* list product */
#section-new {
    background-color: #f5f5f5;
}

#section-new h4 a {
    color: #000;
}

#section-new h4 a:hover, .single-price a:hover, .special_price a:hover {
    color: #ff9e23;
    text-decoration: none;
}

.read-more {
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #B3A3A3;
    width: 78px;
    margin: auto;
}

#new-product {
    font-size: 22px;
    text-align: center;
    color: #000;
    padding: 30px 0;
}

#new-product .text-first {
    padding: 10px 0;

}

#new-product .text-first a {
    color: #000;
}

.section-best {
    display: none;
}

.section-top {
    display: none;
}

#special-product > .open {
    display: block !important;
}

#special-product {
    font-size: 24px;
    text-align: center;
    color: #000;
    padding: 30px 0;
}

.top-best {
    cursor: pointer;
    padding: 30px 0;
}

.text-top, .text-best {
    padding: 0 15px;
    border-bottom: 3px solid #c4c4c4;
}

.div-box {
    display: inline-block;
    color: #c4c4c4;
}

.top-best .div-box:nth-child(1) {
    margin-right: -6px;
}

.top-best .div-box:nth-child(2) {
    margin-right: -5px;
}

.change-color {
    color: #0a0a0a !important;
    border-bottom: 3px solid #0a0a0a !important;
}

#section-sale {
    text-align: center;
    padding: 30px 0;
}

#section-sale .text-first {
    font-size: 22px;
    height: 40px;
    color: #000;
    border-bottom: 3px solid #0a0a0a;
    display: inline-block;
}

.price-single a {
    font-size: 16px;
    text-decoration: line-through;
    color: #000;
}

.special_price a {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.single-price a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

#special-product h4 a:hover, #section-pr .read-more a:hover {
    color: #ff9e23;
    text-decoration: none;
}

#special-product h4 a {
    color: #000;
}

#section-pr .read-more a {
    color: #000;
}
.product-item-details .product-item-shop{
    color: #000;
    font-weight: normal;
}
/* a:visited, .alink:visited, a{
    color: #000;
} */
.catalog-category-view .sidebar-additional .block-wishlist{
    display: none;
}

/* Layout */

#maincontent {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.page-layout-2columns-left .sidebar-main {
    width: 25%;
}

.page-layout-2columns-left .column.main {
    width: 75%;
}

/* # Layout */
/* # category page */
.products {
    margin: 0;
}

.products .product-items {
    margin: 0 -10px !important;
    overflow: hidden;
}

.products-grid .product-item {
    width: 33.3333% !important;
    padding: 10px !important;
    margin: 0 !important;
}

.products-list .product-item-info {
    width: 100%;
    text-align: center;
    display: table;
}

.products-list .product-item {
    width: 50%;
    padding: 10px !important;
    margin: 0;
    display: inline-block;
}

.products-list .product-item-photo {
    padding: 0 20px 0 0;
    vertical-align: top;
    margin: 0;
    width: 40%;
    display: table-cell;
}

.products.wrapper .product-item-photo .product-image-container {
    max-width: 100%;
    width: 100% !important;
}

.products-list .product-item-details {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
}

.page-products .product-item-info {
    width: 100%;
    text-align: center;
}

.page-products .product-item-name > a {
    color: #999
}

.product-image-photo {
    width: 100%;
}

.product-item-shop {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-decoration: underline;
}

.product-item-shop:hover {
    color: #ff9e23;
    text-decoration: none;
}

.page-products .product-item-name > a:hover {
    color: #ff9e23;
    text-decoration: none;
    font-size: 15px;
}

/* style menu sibar */
#cssmenu .sub-active {
    display: none;
}

#cssmenu > ul > li:hover {
    font-weight: bold;
}

#cssmenu > ul > li:hover a {
    text-decoration: none;
}

#cssmenu > ul > li > ul > li {
    font-weight: normal;
}

#cssmenu ul li:hover ul {
    display: block;
    padding: 20px 0 1px 26px;
}

#layered-filter-block .title-sidaber {
    text-align: center;
    background: #f3f3f3;
    color: #000;
    padding: 10px 0;
}

#cssmenu ul > li {
    list-style: none;
}

#cssmenu > ul {
    /*  margin: auto;
     padding: 0; */
}

#cssmenu ul > li a span {
    color: #000;
}

.has-sub .TOP, .has-sub .BEST {
    display: none;
}

@media (min-width: 768px) {
    .modes, #toolbar-amount {
        float: right;
    }

    .modes {
        margin-right: 0;
    }

    .modes .modes-mode {
        background: #fafafa;
        margin-right: 0;
        padding: 4px 6px;
        border: 1px solid #fff;
    }

    .modes .mode-grid {
        margin-right: 10px;
        border: 1px solid #fff;
        padding: 4px 6px;
    }

    #toolbar-amount {
        padding: 7px 10px;
        margin: 0 10px;
        background: #fafafa;
    }

    .toolbar-sorter .sort-desc {
        background: #fafafa;
    }

    .toolbar-sorter #sorter {
        background: #fafafa;
        border: 1px solid #fff;
        height: 35px;
    }

    .toolbar-products .pages {
        float: right !important;
    }

    .pages-items .item {
        background: #f3f3f3;
        padding: 0 9px;
        margin: 0 5px;
    }

    .pages-items .item > a{
        color: #000 !important;
    }

    .pages .pages-items .pages-item-previous {
        padding: 0;
        margin: 0;
    }

    .catalog-category-view .pages-items .pages-item-previous .previous {
        margin-right: 0;
    }

    .pages-items .current {
        background-color: #ff9e23;
    }

    .pages-item-next {
        margin: 0 !important;
        padding: 0 !important;
    }

    .pages-item-next .next {
        margin-left: 0 !important;
        border: none;
    }

    .main .toolbar-products {
        margin: 40px 0;
        padding: 0
    }

    .toolbar-products .toolbar-sorter {
        padding: 0;
    }

    .toolbar-products .limiter .limiter-options {
        border: 1px solid #fff;
        background-color: #fafafa;
        height: 35px;
    }

    .products-grid ~ .toolbar-products .limiter {
        display: none !important;
    }

    #authenticationPopup ~ .toolbar .limiter {
        display: block;
    }
    #maincontent #layered-filter-block .title-sidaber, #maincontent .filter .filter-title strong{
        font-weight: 600;
        font-size: 14px;
    }
}

.filter .filter-title {
    text-align: center;
    background: #f3f3f3;
    color: #000;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.pages strong.page {
    color: #fff;
}

.catalog-category-view .page-title-wrapper, .catalog-product-view .page-title-wrapper{
    padding: 30px 0;
    margin: 0;
    max-width: 100%;
    background: #f7f7f7;
}
.catalog-product-view .page-title-wrapper .page-title, .catalog-category-view #page-title-heading {
    text-align: center;
    display: block;
    font-size: 24px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #AFB7B7;
}


/* detail product */
/* media */
.fotorama__stage {
    margin: 0 0 20px;
}

.fotorama__stage__frame .fotorama__img {
    width: 100%;
}

/* Dot */
.fotorama__nav--dots {
    width: 100% !important;
    height: 50px !important;
}

.fotorama__nav--dots .fotorama__nav__frame {
    width: 30px;
}

.fotorama__dot {
    border: 1px solid #777;
    display: block;
    left: 0;
    position: relative;
    top: 20px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

/* Controller */
.fotorama__arr .fotorama__arr__arr {
    background: none;
    position: absolute;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

.fotorama__arr--prev .fotorama__arr__arr {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fotorama__arr--next .fotorama__arr__arr {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* Full screen */
.fotorama--fullscreen {
    background: rgba(0, 0, 0, 0.7);
}

.fotorama--fullscreen .fotorama__wrap {
    width: 100%;
    height: 100%;
}

.fotorama--fullscreen .fotorama__stage {
    width: 100% !important;
    height: 100% !important;
}

.fotorama--fullscreen .fotorama__stage__frame .fotorama__img {
    width: auto;
    max-width: 80%;
    max-height: 90%;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background: url('/pub/media/images/icon/white.close.png') no-repeat center;
    background-size: cover;
    top: 20px;
    right: 22px;
}

@media only screen and (max-width: 767px) {
    .catalog-product-view #maincontent .mediaDP, .catalog-product-view #maincontent .contentDP {
        width: 100%;
        padding: 0;
    }
}

.contentDP .page-title-wrapper h1 span {
    font-size: 20px;
    font-weight: 500;
}

.catalog-product-view .product-info-stock-sku .sku {
    display: none !important;
}

.product-reviews-summary {
    margin: 0;
}

.product-reviews-summary .reviews-actions a, .product-flexible-financing .reviews-actions a {
    color: #a3a3a3;
}

.catalog-product-view .box-tocart .actions {
    display: block;
}

@media (min-width: 768px) {
    .catalog-product-view .product-info-main .box-tocart {
        display: block;
    }

    .catalog-product-view #product-addtocart-button {
        width: 100%;
        background: #000;
        border: none;
        text-transform: uppercase;
    }
}

.catalog-product-view .product-addto-links a {
    width: 32%;
}

.product-info-main .action.sipping-option-link {
    background-image: none;
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    color: #333;
    cursor: pointer;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 1.2rem;
    padding: 5px 8px;
    font-size: 1.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
}

.catalog-product-view .product-addto-links .sipping-option-link img {
    padding: 0 5px 0 10px;
}

.catalog-product-view .product-addto-links .towishlist img {
    padding: 0 10px;
}

.catalog-product-view .product-addto-links .tocompare img {
    padding: 0 10px 0 5px;
}

.product-info-main .product-addto-links {
    margin: 0 0 20px
}

.catalog-product-view .product-social-links .mailto {
    display: none;
}
.catalog-product-view .box-tocart .qty {
    width: 100%;
    display: block !important;
}
.catalog-product-view .box-tocart .qty #qty {
    width: 100%;
    height: 40px;
}

@media (min-width: 768px) {
    .page-layout-1column .product-info-main {
        width: 42%;
    }
    .catalog-product-view .name-product p {
        font-size: 22px;
        font-weight: 500;
    }
    .get-sku {
        display: block;
    }
    .product-info-main .stock.available{
        display: block;
        font-weight: normal;
        text-transform: none;
    }
}

/* style Manufacturer */

.emizen-brand-index .sidebar-additional {
    display: none;
    width: 0%;
}
.emizen-brand-index .container .main {
    width: 100%;
}
.emizen-brand-index #maincontent .container #box-brand {
    padding: 50px 0;
    width: 1180px;
}
.emizen-brand-index #maincontent .container{
    width: 100%;
}
.title-brands {
    padding: 30px 0;
    margin: 0;
    max-width: 100%;
    background: #f7f7f7;
    text-align: center;
    font-size: 24px;
}
@media (min-width: 768px) {
    .product.data.items > .item.title > .switch {
        border: none;
    }
    .detailed .items .active a {
        padding: 0 !important;
    }
    .detailed .items .active {
        border-bottom: 4px solid #000 !important;
    }
    .detailed .product.data.items .additional-content {
        display: none;
    }
    #additional-link + .active{
        display: block !important;
    }
    .product.data.items > .item.title > .switch {
        background: transparent;
        padding: 0 10px !important;
    }
    #additional-link{
        border-bottom: 4px solid #000;
        display: inline-block;
    }
    .additional-attributes-wrapper #product-attribute-specs-table > tbody > tr > th, .additional-attributes-wrapper #product-attribute-specs-table > tbody > tr > td{
        border: 1px solid #dedede;
        padding: 8px 10px;
    }
    .additional-attributes-wrapper #product-attribute-specs-table > tbody > tr > td{
        width: 70%;
    }
    .product.info.detailed .additional-attributes {
        width: 100%;
    }
    #tab-label-reviews{
        width: 72%;
        margin: auto;
        border-bottom: 4px solid #D6D4D4;
    }
    #tab-label-additional, .product.data.items > .item.Details  {
        border-bottom: 4px solid #D6D4D4;
    }
    .product.data.items > .item.content {
        border-top: none;
    }
    .catalog-product-view .product.data.items > .item.content{
        padding: 20px 0;
    }
}
.catalog-product-view .contentDP .product-brand {
    display: none;
}
/* Customer Login page */

.customer-account-login #block-customer-login-heading, .customer-account-login #block-new-customer-heading{
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
}
.customer-account-login .block-customer-login .block-title, .customer-account-login .block-new-customer .block-title{
    text-align: center;
    border-bottom: none;
}
@media (min-width: 768px) {
    .customer-account-login .login-container .block-customer-login {
        border-left: 1px solid #e8e8e8;
        float: right;
        width: 50%;
    }
    .customer-account-login .login-container .block-new-customer{
        width: 50%;
    }
    .customer-account-login .block-customer-login .block-content, .customer-account-login .block-new-customer .block-content{
        margin: 0 20px;
    }
    .fieldset > .field:not(.choice) > .label {
        width: 100%;
        text-align: left;
        font-weight: normal;
    }
    .fieldset > .field:not(.choice) > .control {
        width: 100%;
    }
    input[type="text"], input[type="email"], input[type="password"] {
        height: 45px;
    }
    .customer-account-login .block-customer-login .actions-toolbar{
        margin-left: auto !important;
    }
    .customer-account-login .block-customer-login .actions-toolbar > .primary{
        width: 100%;
    }
    .customer-account-login .block-new-customer .actions-toolbar > .primary{
        width: 100%;
        padding-top: 90px;
    }
    .customer-account-login .block-customer-login .actions-toolbar .login{
        width: 100%; 
        height: 45px;
        background-color: #000;
    }
    .customer-account-login .block-new-customer .actions-toolbar .create{
        width: 100%;
        height: 45px;
        background-color: #000;
        line-height: 2;
        border: none;
    }
    .customer-account-login .block-customer-login .actions-toolbar .secondary{
        display: block;
        float: none;
    }
    .login-container .fieldset .password:after {
        margin: 10px 0 0;
        content: attr(data-hasrequired);
        display: block;
        letter-spacing: normal;
        word-spacing: normal;
        color: #e02b27;
        font-size: 1.2rem;
    }
    .customer-account-login .login-container .fieldset:after{
        margin-top: 10px;
        text-align: center;
        margin-left: 0 !important;
    }
    .login-container .block-content .conten-text {
       margin: 0 52px;
    }
}
#sign-img{
    float: right;
}
#maincontent .page-title-wrapper {
    padding: 30px 0;
    margin: 0;
    max-width: 100%;
    background: #f7f7f7;
}
#maincontent .page-title {
    text-align: center;
    display: block;
    font-size: 24px;
    margin: auto;
    font-weight: 600;
    color: #A0A0A0;
}
#maincontent .login-container {
    padding-top: 50px;
}